/*Age Filter Popup CSS Begins*/
.agePopup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px; /* adjust as per your needs */
    height: 250px; /* adjust as per your needs */
    margin-left: -150px; /* negative half of width above */
    margin-top: -125px; /* negative half of height above */
    border-radius: 10px;
}

.selectAgeTitle {
    position: relative;
    left: 15%;
    color: #4b8bf4;
}

.cardAge{
    overflow-y: hidden;
    margin-left: 5%;
    margin-right: 5%;

    width:90%;
}

.ageFooterCSS {
    height: 10px;
}

/*Age Filter Popup CSS Ends*/

/*Gender Filter Popup CSS Begins*/
.genderCSS {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px; /* adjust as per your needs */
    height: 250px; /* adjust as per your needs */
    margin-left: -150px; /* negative half of width above */
    margin-top: -130px; /* negative half of height above */
    border-radius: 10px;
}
.genderPopup{
    background-color: #FFFFFF;
}
.genderRadio {

    border-radius: 10px;
}

.cardGender {
    overflow-y: hidden;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    height: 150px;
}

.selectGenderTitle {
    position: relative;
    left: 20%;
    color: #4b8bf4;
}

.genderFooterCSS {
    height: 10px;
}

/*Gender Filter Popup CSS Ends*/

/* City Filter Popup CSS Begins*/

.cityPopup {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 300px; /* adjust as per your needs */
    height: 400px; /* adjust as per your needs */
    margin-left: -150px; /* negative half of width above */
    margin-top: -200px; /* negative half of height above */
    border-radius:10px;
}

.cityFooterCSS {
    height: 10px;
}

.citySearchHeader {
    position: relative;
}

.selectCityTitle {
    position: relative;
    left: 20%;
    color: #4b8bf4;
}

/*City Filter Popup CSS Ends*/


.addCohortFooterCSS{
    font-size: 140%;
    position: absolute;
}

.patientPopup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px; /* adjust as per your needs */
    height: 250px; /* adjust as per your needs */
    margin-left: -150px; /* negative half of width above */
    margin-top: -130px; /* negative half of height above */
    border-radius: 10px;
}

.diseaseCSS{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px; /* adjust as per your needs */
    height: 250px; /* adjust as per your needs */
    margin-left: -150px; /* negative half of width above */
    margin-top: -130px; /* negative half of height above */
    border-radius:10px;

}

.diseaseFontCSS{
    font-size: 85%;
    /*word-wrap:break-word;*/
}

.selectDiseaseTitle{
    position: relative;
    left: 10%;
    color: #4b8bf4;
}